{% extends "teacheradmin/base_teacheradmin.html" %}

{% load i18n %}

{% block nav-teacheradmin-lists %}active{% endblock %}

{% block mainclass %}teacheradmin-list{% endblock %}

{% block extraheader %}
    {{ form.media }}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function () {
    "use strict";

    $("a.assignmentDetailLink").click(function (evt) {
        evt.preventDefault();
        evt.stopPropagation();

        var $link = $(evt.target),
            id = parseInt($link.data("assignment"), 10);

        $("#modal" + id + ".modal").modal();
    });
});
</script>
{% endblock %}

{% block section %}
<section>
	<h3 class="fleft">{{ student.first_name }} {{ student.last_name }}</h3>
	<a class="fright" href="{% url profile_user student.username %}">{% trans "Go to student's profile" %}</a>
	<div class="cleaner"></div>
	<h4 class="fleft">{{ student.email }}</h4>
	<p class="fright">{% trans 'Course mark' %}: {{ course_mark }}</p>
	<div class="cleaner"></div>
	<table id="table">
		<thead>
			<tr>
				{% for header in headers %}
				<th>{{ header }}</th>
				{% endfor %}
        <th></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				{% for header in headers %}
				<th>{{ header }}</th>
				{% endfor %}
        <th></th>
			</tr>
		</tfoot>
		<tbody>
			{% for element in elements %}
			<tr>
				<td><strong>{{ element.title }}</strong></td>
        <td><strong>{{ element.progress }}% {% trans 'completed' %}</strong></td>
				<td><strong>{{ element.mark }}</strong></td>
				<td><strong>{{ element.relative_mark }}</strong></td>
        <td></td>
			</tr>
				{% for kq in element.kqs %}
				<tr class="indented">
					<td>{{ kq.title }}</td>
          {% if kq.completed %}
            {% if kq.correct %}
            <td>{% trans 'Correct' %}</td>
            {% else %}
            <td>{% trans 'Incorrect' %}</td>
            {% endif %}
          {% else %}
          <td>{% trans 'Pending' %}</td>
          {% endif %}
					<td>{{ kq.mark }}</td>
					<td>{{ kq.relative_mark }}</td>
          <td>
            {% if kq.peerreview %}
              <a class="assignmentDetailLink" href="#" data-assignment="{{ kq.id }}">{% trans 'View assignment' %}</a>

              <div class="modal hide fade" id="modal{{ kq.id }}">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3>{% trans "Assignment for" %} {{ kq.title }}</h3>
                  </div>
                  <div class="modal-body">
                    {% if kq.peerreview.submission %}
                      <strong>{% trans "Submitted" %}:</strong>
                      <div class="">{{ kq.peerreview.submission.created }}</div>
                      <strong>{% trans "Content" %}</strong>
                      <div class="well well-small">{{ kq.peerreview.submission.text }}</div>
                      {% if kq.peerreview.submission.file %}
                        <a href="{{ kq.peerreview.submission.file }}" target="_blank">{% trans "Submitted file" %}</a>
                      {% endif %}
                    {% endif %}
                    {% if kq.peerreview.reviews %}
                      <strong>{% trans "Reviews" %}:</strong>
                      {% for review in kq.peerreview.reviews %}
                        <strong>{% trans "Reviewed on"%}</strong>
                        <div class="well well-small">{{ review.created }}</div>
                        <strong>{% trans "Reviewer"%}</strong>
                        <div class="well well-small">{{ review.reviewer }}</div>
                        <strong>{% trans "Criteria"%}</strong>
                        <div class="well well-small">
                          {% for criteria in review.criteria %}
                            {{ criteria }}<br>
                          {% endfor %}
                        </div>
                        <strong>{% trans "Comment"%}</strong>
                        <div class="well well-small">{{ review.comment }}</div>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                  </div>
              </div>
            {% endif %}
          </td>
				</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
</section>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/sorting/datetime-moment.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$.fn.dataTable.moment( 'DD/MM/YYYY' );
    	$('#table').DataTable({
    		'ordering': false,
    		'pageLength': 50,
    	});
	} );
</script>
{% endblock %}
